* {
    text-align: center;
}

body {
    background-image: url('https://png.pngtree.com/png-clipart/20221006/original/pngtree-music-notes-png-image_8660757.png');
    background-size: cover;

    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    width: 100%; 
    box-sizing: border-box; 
}
nav {
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#search-area {
    background: #f2f2f2;
    padding: 20px;
    margin: 5px;
}

main {
    margin: 15px;
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}